package template

templ Home() {
	@Base(BaseProps{
		Title: "Translang - Home",
	}) {
		<div class="hero bg-base-200 min-h-screen">
			<div class="hero-content text-center">
				<div class="max-w-md">
					<h1 class="text-5xl font-bold">Translang</h1>
					<p class="py-6">
						Generate translations directly from Figma
					</p>
					<a href="/translate" class="btn btn-primary">Get Started</a>
				</div>
			</div>
		</div>
	}
}
