package template

type ToastProps struct {
	Message string
}

templ ToastSuccess(props ToastProps) {
	<div hx-swap-oob="afterbegin:#toasts" hx-trigger="load delay:1000ms" hx-swap="delete" class="alert alert-success">
		<span>{ props.Message }</span>
	</div>
}
